<div class="row">
  <div class="col-md-3">
    <div class="left-sidebar">
      <div class="btn-group-vertical btn-block" role="group">
        <%= link_to "レシピを削除する", recipe_path, class:"btn btn-warning btn-lg", role:"button", method: :delete %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <%= render 'recipe_form' %>
  </div>
</div>