<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-md-4 col-sd-6">
      <div class="thumbnail">
        <% img = recipe.image.present? ? image_tag(recipe.image_url(:thumb)) : holder_tag('280x210', '画像なし', 'gray') %>
        <%= link_to(img, recipe) %>
        <div class="caption">
          <h4><%= link_to recipe.title, recipe %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>