<div class="row">
  <div class="col-md-3">
    <div class="left-sidebar">
    </div>
  </div>
  <div class="col-md-9">
      <%= render 'clip_form' %>
      <%= render 'recipe_form' %>
  </div>
</div>