@import "bootstrap-sprockets";
@import "honoka";

@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

body {
  padding-top: $navbar-height;
}

.cover {
  background-image: url("header-image.jpg");
  min-height: 600px;
  text-align: center;
}

.intro-text {
  padding-top: 100px;
  font-size: 60px;
  font-weight: 600;
  color: #FFF;
}
.intro-sub-text {
  padding-top: 50px;
  font-size: 36px;
  color: #FFF;
}

.servings_for {
  font-size: 13px;
}

.container img {
  max-width: 100%;
}

.main-photo {
  margin-top: 20px;
}

input.ingredient-name {
  width: 100px;
}

input.ingredient-quantity-for {
  width: 80px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.left-sidebar {
  margin-top: 20px;
}
.actions{
  margin-top: 20px;
}

.mar-top-20 {
  margin-top: 20px;
}

.pad-top-70 {
  padding-top: 70px;
}

.navbar-brand {
  $brand-height: 32px;
  padding-top: ($navbar-height - $brand-height) / 2;
  padding-bottom: ($navbar-height - $brand-height) / 2;
}

.tags {
  a:hover {
    text-decoration: none;
  }
  .label {
    margin-right: 4px;
  }
}

.bootstrap-tagsinput {
  width: 100%;
}
